<pre><head> <b> Validation page. We last pillaged the exchanges at:  12:40:58  03/09/20 New Zealand Standard Time <br /> </b> </head> <p><a href="./margins">Margin Tables</a></p><p><a href="./margins-depth">Margin Tables With Depth</a></p>BTC Native buy prices (for validation)
Exchange 	|	 Buy Price 	|	 SellAsks 
Coinspot	|	15755.5  	|	15890.0
CSpot B/S	|	15713.9  	|	15833.8
Coinjar 	|	15730.0  	|	15740.0
ACX.io   	|	10100.0  	|	13200.0
BTC Mrkts	|	15712.3  	|	15716.2
IND RES  	|	15667.0  	|	15693.1
Bitfinex	|	11437.0  	|	11438.0
Coinfloor	|	8573.0  	|	8592.0
Bittrex 	|	11423.0  	|	11429.2
Bitstamp	|	11426.7  	|	11431.7
--------------------------------------------------------------------
BTC Market Prices
Exchange 	|	 Buy Bids 	|	 Sell Asks 
Coinspot	|	15755.5  	|	15890.0
CSpot B/S	|	15713.856  	|	15833.766
Coinjar 	|	15730.0  	|	15740.0
ACX.io   	|	10100.0  	|	13200.0
BTC Mrkts	|	15681.404  	|	15716.2
IND RES  	|	15668.0  	|	15690.15
Bitfinex	|	15598.643  	|	15602.237
Coinfloor	|	15599.321  	|	15635.721
Bittrex 	|	15577.741  	|	15587.616
Bitstamp	|	15586.318  	|	15594.503
--------------------------------------------------------------------


BTC MARGIN COMBINATIONS (Trade fees and exchange rates included only)
Direction		|	 Margin
ACX.io    -> Coinspot 	|	 18.2%
ACX.io    -> CSpot B/S 	|	 16.8%
ACX.io    -> Coinjar  	|	 19.0%
ACX.io    -> BTC Mrkts 	|	 18.0%
ACX.io    -> IND RES   	|	 18.0%
ACX.io    -> Bitfinex 	|	 17.8%
ACX.io    -> Coinfloor 	|	 17.7%
ACX.io    -> Bittrex  	|	 17.6%
ACX.io    -> Bitstamp 	|	 17.6%
--------------------------------------------------------------------


BTC MARGIN COMBINATIONS for a 10k AUD move (All Fees included for a TWO way trip)
Direction		|	 Profit
ACX.io    -> Coinspot 	|	 1745.39
ACX.io    -> CSpot B/S 	|	 1613.84
ACX.io    -> Coinjar  	|	 1825.07
ACX.io    -> BTC Mrkts 	|	 1729.26
ACX.io    -> IND RES   	|	 1731.1
ACX.io    -> Bitfinex 	|	 1706.56
ACX.io    -> Coinfloor 	|	 1702.07
ACX.io    -> Bittrex  	|	 1685.72
ACX.io    -> Bitstamp 	|	 1692.22
ETH Native buy prices (for validation)
Exchange 	|	 Buy Price 	|	 SellAsks 
Coinspot	|	621.0  	|	636.0
CSpot B/S	|	610.1  	|	624.7
Coinjar 	|	613.9  	|	618.8
ACX.io   	|	200.0  	|	294.0
BTC Mrkts	|	614.6  	|	615.6
IND RES  	|	611.9  	|	613.6
Bitfinex	|	445.1  	|	445.1
Bittrex 	|	444.4  	|	445.1
Bitstamp	|	444.9  	|	445.3
--------------------------------------------------------------------
ETH Market Prices
Exchange 	|	 Buy Bids 	|	 Sell Asks 
Coinspot	|	621.0  	|	636.0
CSpot B/S	|	610.104  	|	624.731
Coinjar 	|	613.9  	|	618.815
ACX.io   	|	50.866  	|	427.012
BTC Mrkts	|	614.646  	|	615.61
IND RES  	|	611.736  	|	613.5
Bitfinex	|	606.957  	|	607.144
Bittrex 	|	606.24  	|	607.013
Bitstamp	|	606.807  	|	607.284
--------------------------------------------------------------------


ETH MARGIN COMBINATIONS (Trade fees and exchange rates included only)
Direction		|	 Margin
ACX.io    -> Coinspot 	|	 44.2%
ACX.io    -> CSpot B/S 	|	 40.7%
ACX.io    -> Coinjar  	|	 43.6%
ACX.io    -> BTC Mrkts 	|	 43.1%
ACX.io    -> IND RES   	|	 42.6%
ACX.io    -> Bitfinex 	|	 41.7%
ACX.io    -> Bittrex  	|	 41.5%
ACX.io    -> Bitstamp 	|	 41.7%
Bitfinex -> Coinspot 	|	 1.1%
Bitfinex -> Coinjar  	|	 0.9%
Bittrex  -> Coinspot 	|	 1.1%
Bittrex  -> Coinjar  	|	 0.9%
Bitstamp -> Coinspot 	|	 1.0%
Bitstamp -> Coinjar  	|	 0.8%
--------------------------------------------------------------------


ETH MARGIN COMBINATIONS for a 10k AUD move (All Fees included for a TWO way trip)
Direction		|	 Profit
ACX.io    -> Coinspot 	|	 4352.32
ACX.io    -> CSpot B/S 	|	 3997.17
ACX.io    -> Coinjar  	|	 4285.05
ACX.io    -> BTC Mrkts 	|	 4243.52
ACX.io    -> IND RES   	|	 4187.36
ACX.io    -> Bitfinex 	|	 4103.47
ACX.io    -> Bittrex  	|	 4081.66
ACX.io    -> Bitstamp 	|	 4094.94
LTC Native buy prices (for validation)
Exchange 	|	 Buy Price 	|	 SellAsks 
Coinspot	|	79.2  	|	83.0
CSpot B/S	|	79.8  	|	81.9
Coinjar 	|	80.4  	|	80.9
ACX.io   	|	1.0  	|	139.0
BTC Mrkts	|	80.4  	|	80.7
IND RES  	|	80.1  	|	80.5
Bitfinex	|	58.4  	|	58.4
Bittrex 	|	58.2  	|	58.4
Bitstamp	|	58.3  	|	58.3
--------------------------------------------------------------------
LTC Market Prices
Exchange 	|	 Buy Bids 	|	 Sell Asks 
Coinspot	|	79.239  	|	83.0
CSpot B/S	|	79.836  	|	81.909
Coinjar 	|	80.36  	|	80.858
ACX.io   	|	1.645  	|	26.894
BTC Mrkts	|	80.057  	|	82.975
IND RES  	|	79.488  	|	82.709
Bitfinex	|	79.534  	|	79.603
Bittrex 	|	79.369  	|	79.624
Bitstamp	|	79.475  	|	79.557
--------------------------------------------------------------------


LTC MARGIN COMBINATIONS (Trade fees and exchange rates included only)
Direction		|	 Margin
ACX.io    -> Coinspot 	|	 193.4%
ACX.io    -> CSpot B/S 	|	 194.7%
ACX.io    -> Coinjar  	|	 198.6%
ACX.io    -> BTC Mrkts 	|	 196.9%
ACX.io    -> IND RES   	|	 194.9%
ACX.io    -> Bitfinex 	|	 195.3%
ACX.io    -> Bittrex  	|	 194.7%
ACX.io    -> Bitstamp 	|	 195.1%
Bitfinex -> Coinjar  	|	 0.7%
Bitstamp -> Coinjar  	|	 0.7%
--------------------------------------------------------------------


LTC MARGIN COMBINATIONS for a 10k AUD move (All Fees included for a TWO way trip)
Direction		|	 Profit
ACX.io    -> Coinspot 	|	 19272.21
ACX.io    -> CSpot B/S 	|	 19394.47
ACX.io    -> Coinjar  	|	 19788.14
ACX.io    -> BTC Mrkts 	|	 19616.47
ACX.io    -> IND RES   	|	 19416.76
ACX.io    -> Bitfinex 	|	 19461.94
ACX.io    -> Bittrex  	|	 19395.65
ACX.io    -> Bitstamp 	|	 19435.0
BCH Native buy prices (for validation)
Exchange 	|	 Buy Price 	|	 SellAsks 
CSpot B/S	|	363.3  	|	372.8
ACX.io   	|	0.0  	|	400.0
BTC Mrkts	|	361.0  	|	365.0
IND RES  	|	362.8  	|	367.1
Bitfinex	|	265.6  	|	265.6
Bittrex 	|	264.9  	|	265.5
Bitstamp	|	265.2  	|	265.5
--------------------------------------------------------------------
BCH Market Prices
Exchange 	|	 Buy Bids 	|	 Sell Asks 
CSpot B/S	|	363.292  	|	372.811
ACX.io   	|	0.01  	|	2618.776
BTC Mrkts	|	361.04  	|	368.61
IND RES  	|	359.061  	|	387.824
Bitfinex	|	361.804  	|	362.256
Bittrex 	|	360.81  	|	361.893
Bitstamp	|	361.6  	|	362.126
--------------------------------------------------------------------


BCH MARGIN COMBINATIONS (Trade fees and exchange rates included only)
Direction		|	 Margin
--------------------------------------------------------------------


BCH MARGIN COMBINATIONS for a 10k AUD move (All Fees included for a TWO way trip)
Direction		|	 Profit
--- none :( ---

OMG Native buy prices (for validation)
Exchange 	|	 Buy Price 	|	 SellAsks 
BTC Mrkts	|	6.1  	|	6.1
IND RES  	|	5.9  	|	6.2
Bitfinex	|	4.4  	|	4.4
Bittrex 	|	4.3  	|	4.4
--------------------------------------------------------------------
OMG Market Prices
Exchange 	|	 Buy Bids 	|	 Sell Asks 
BTC Mrkts	|	6.044  	|	6.176
IND RES  	|	5.856  	|	6.699
Bitfinex	|	6.014  	|	6.036
Bittrex 	|	5.931  	|	6.04
--------------------------------------------------------------------


OMG MARGIN COMBINATIONS (Trade fees and exchange rates included only)
Direction		|	 Margin
--------------------------------------------------------------------


OMG MARGIN COMBINATIONS for a 10k AUD move (All Fees included for a TWO way trip)
Direction		|	 Profit
--- none :( ---

TRX Native buy prices (for validation)
Exchange 	|	 Buy Price 	|	 SellAsks 
Coinspot	|	0.0  	|	0.1
CSpot B/S	|	0.0  	|	0.1
Bitfinex	|	0.0  	|	0.0
Bittrex 	|	0.0  	|	0.0
--------------------------------------------------------------------
TRX Market Prices
Exchange 	|	 Buy Bids 	|	 Sell Asks 
Coinspot	|	0.044  	|	0.051
CSpot B/S	|	0.049  	|	0.05
Bitfinex	|	0.048  	|	0.049
Bittrex 	|	0.048  	|	0.048
--------------------------------------------------------------------


TRX MARGIN COMBINATIONS (Trade fees and exchange rates included only)
Direction		|	 Margin
--------------------------------------------------------------------


TRX MARGIN COMBINATIONS for a 10k AUD move (All Fees included for a TWO way trip)
Direction		|	 Profit
--- none :( ---



Rates are :

AUD->USD: 0.7331
AUD->NZD: 1.08385
AUD->GBP: 0.549447
AUD->EUR: 0.619026</pre>